In [1]:
import pandas as pd
import os

In [2]:
pd.set_option('display.max_columns', None)

In [6]:
print(os.getcwd())
data_dir = 'archive\Fitabase Data 4.12.16-5.12.16'
os.chdir(data_dir)
print(os.getcwd())

C:\Users\aishw\OneDrive\Desktop\Stevens Ammu\SEM4\personal_projects\FitBit_Fitness_Tracker
C:\Users\aishw\OneDrive\Desktop\Stevens Ammu\SEM4\personal_projects\FitBit_Fitness_Tracker\archive\Fitabase Data 4.12.16-5.12.16

In [7]:
files = [file for directories, fold, files in os.walk(os.getcwd()) for file in files]

In [8]:
files

['dailyActivity_merged.csv',
 'dailyCalories_merged.csv',
 'dailyIntensities_merged.csv',
 'dailySteps_merged.csv',
 'heartrate_seconds_merged.csv',
 'hourlyCalories_merged.csv',
 'hourlyIntensities_merged.csv',
 'hourlySteps_merged.csv',
 'minuteCaloriesNarrow_merged.csv',
 'minuteCaloriesWide_merged.csv',
 'minuteIntensitiesNarrow_merged.csv',
 'minuteIntensitiesWide_merged.csv',
 'minuteMETsNarrow_merged.csv',
 'minuteSleep_merged.csv',
 'minuteStepsNarrow_merged.csv',
 'minuteStepsWide_merged.csv',
 'sleepDay_merged.csv',
 'weightLogInfo_merged.csv']

**Since the data contain files peratining to daily activities as well as hourly and by minutes, separating these files into three main categories - daily, hourly and minute-wise. Considering only the daily activity initially.**

In [9]:
daily_activity = pd.read_csv('/'.join([os.getcwd(),files[0]]))

In [10]:
daily_activity

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [11]:
daily_calories = pd.read_csv('/'.join([os.getcwd(),files[1]]))
daily_calories

             Id ActivityDay  Calories
0    1503960366   4/12/2016      1985
1    1503960366   4/13/2016      1797
2    1503960366   4/14/2016      1776
3    1503960366   4/15/2016      1745
4    1503960366   4/16/2016      1863
..          ...         ...       ...
935  8877689391    5/8/2016      2847
936  8877689391    5/9/2016      3710
937  8877689391   5/10/2016      2832
938  8877689391   5/11/2016      3832
939  8877689391   5/12/2016      1849

[940 rows x 3 columns]

In [12]:
daily_intensities = pd.read_csv('/'.join([os.getcwd(),files[2]]))
daily_intensities

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.00,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.00,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.00,3.91,0.40,2.44
3,1503960366,4/15/2016,726,209,34,29,0.00,2.83,1.26,2.14
4,1503960366,4/16/2016,773,221,10,36,0.00,5.04,0.41,2.71
...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,1174,245,4,17,0.00,6.80,0.20,1.08
936,8877689391,5/9/2016,1131,217,19,73,0.05,6.24,0.80,11.10
937,8877689391,5/10/2016,1187,224,11,18,0.00,6.28,0.46,1.35
938,8877689391,5/11/2016,1127,213,12,88,0.00,5.89,0.41,13.22
939,8877689391,5/12/2016,770,137,1,23,0.00,4.25,0.04,1.82

In [13]:
daily_steps = pd.read_csv('/'.join([os.getcwd(),files[3]]))
daily_steps

             Id ActivityDay  StepTotal
0    1503960366   4/12/2016      13162
1    1503960366   4/13/2016      10735
2    1503960366   4/14/2016      10460
3    1503960366   4/15/2016       9762
4    1503960366   4/16/2016      12669
..          ...         ...        ...
935  8877689391    5/8/2016      10686
936  8877689391    5/9/2016      20226
937  8877689391   5/10/2016      10733
938  8877689391   5/11/2016      21420
939  8877689391   5/12/2016       8064

[940 rows x 3 columns]

In [14]:
daily1 = pd.merge(daily_intensities, daily_calories, how='left', on=['Id', 'ActivityDay'])

In [15]:
daily1

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,Calories
0,1503960366,4/12/2016,728,328,13,25,0.00,6.06,0.55,1.88,1985
1,1503960366,4/13/2016,776,217,19,21,0.00,4.71,0.69,1.57,1797
2,1503960366,4/14/2016,1218,181,11,30,0.00,3.91,0.40,2.44,1776
3,1503960366,4/15/2016,726,209,34,29,0.00,2.83,1.26,2.14,1745
4,1503960366,4/16/2016,773,221,10,36,0.00,5.04,0.41,2.71,1863
...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,1174,245,4,17,0.00,6.80,0.20,1.08,2847
936,8877689391,5/9/2016,1131,217,19,73,0.05,6.24,0.80,11.10,3710
937,8877689391,5/10/2016,1187,224,11,18,0.00,6.28,0.46,1.35,2832
938,8877689391,5/11/2016,1127,213,12,88,0.00,5.89,0.41,13.22,3832
939,8877689391,5/12/2016,770,137,1,23,0.00,4.25,0.04,1.82,1849

In [16]:
daily2 = pd.merge(daily1, daily_steps, how='left', on=['Id', 'ActivityDay'])

In [17]:
daily2

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,Calories,StepTotal
0,1503960366,4/12/2016,728,328,13,25,0.00,6.06,0.55,1.88,1985,13162
1,1503960366,4/13/2016,776,217,19,21,0.00,4.71,0.69,1.57,1797,10735
2,1503960366,4/14/2016,1218,181,11,30,0.00,3.91,0.40,2.44,1776,10460
3,1503960366,4/15/2016,726,209,34,29,0.00,2.83,1.26,2.14,1745,9762
4,1503960366,4/16/2016,773,221,10,36,0.00,5.04,0.41,2.71,1863,12669
...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,1174,245,4,17,0.00,6.80,0.20,1.08,2847,10686
936,8877689391,5/9/2016,1131,217,19,73,0.05,6.24,0.80,11.10,3710,20226
937,8877689391,5/10/2016,1187,224,11,18,0.00,6.28,0.46,1.35,2832,10733
938,8877689391,5/11/2016,1127,213,12,88,0.00,5.89,0.41,13.22,3832,21420
939,8877689391,5/12/2016,770,137,1,23,0.00,4.25,0.04,1.82,1849,8064

In [18]:
daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [19]:
daily_activity.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [20]:
daily2.columns

Index(['Id', 'ActivityDay', 'SedentaryMinutes', 'LightlyActiveMinutes',
       'FairlyActiveMinutes', 'VeryActiveMinutes', 'SedentaryActiveDistance',
       'LightActiveDistance', 'ModeratelyActiveDistance', 'VeryActiveDistance',
       'Calories', 'StepTotal'],
      dtype='object')

In [21]:
daily_activity.rename(columns={'ActivityDate':'ActivityDay'}, inplace=True)
daily = pd.merge(daily_activity[['Id', 'ActivityDay', 'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance']], daily2, how='left', on=['Id', 'ActivityDay'])
daily

,Id,ActivityDay,TotalDistance,TrackerDistance,LoggedActivitiesDistance,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,Calories,StepTotal
0,1503960366,4/12/2016,8.500000,8.500000,0.0,728,328,13,25,0.00,6.06,0.55,1.88,1985,13162
1,1503960366,4/13/2016,6.970000,6.970000,0.0,776,217,19,21,0.00,4.71,0.69,1.57,1797,10735
2,1503960366,4/14/2016,6.740000,6.740000,0.0,1218,181,11,30,0.00,3.91,0.40,2.44,1776,10460
3,1503960366,4/15/2016,6.280000,6.280000,0.0,726,209,34,29,0.00,2.83,1.26,2.14,1745,9762
4,1503960366,4/16/2016,8.160000,8.160000,0.0,773,221,10,36,0.00,5.04,0.41,2.71,1863,12669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,8.110000,8.110000,0.0,1174,245,4,17,0.00,6.80,0.20,1.08,2847,10686
936,8877689391,5/9/2016,18.250000,18.250000,0.0,1131,217,19,73,0.05,6.24,0.80,11.10,3710,20226
937,8877689391,5/10/2016,8.150000,8.150000,0.0,1187,224,11,18,0.00,6.28,0.46,1.35,2832,10733
938,8877689391,5/11/2016,19.559999,19.559999,0.0,1127,213,12,88,0.00,5.89,0.41,13.22,3832,21420
939,8877689391,5/12/2016,6.120000,6.120000,0.0,770,137,1,23,0.00,4.25,0.04,1.82,1849,8064

daily_activity contains all the columns of the merged dataframe with a few column name differences, so only daily_activity needs to be used

In [22]:
sleep = pd.read_csv('/'.join([os.getcwd(),files[-2]]))

In [23]:
sleep

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712
...,...,...,...,...,...
408,8792009665,4/30/2016 12:00:00 AM,1,343,360
409,8792009665,5/1/2016 12:00:00 AM,1,503,527
410,8792009665,5/2/2016 12:00:00 AM,1,415,423
411,8792009665,5/3/2016 12:00:00 AM,1,516,545
412,8792009665,5/4/2016 12:00:00 AM,1,439,463

In [24]:
sleep.rename(columns={'SleepDay': 'ActivityDay'}, inplace=True)
sleep['ActivityDay'] = pd.to_datetime(sleep['ActivityDay'])
sleep['ActivityDay'] = sleep['ActivityDay'].dt.date

daily_activity['ActivityDay'] = pd.to_datetime(daily_activity['ActivityDay'])
daily_activity['ActivityDay'] = daily_activity['ActivityDay'].dt.date

In [25]:
daily = pd.merge(daily_activity, sleep, how='left', on=['Id', 'ActivityDay'])
daily

,Id,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,2016-04-12,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985,1.0,327.0,346.0
1,1503960366,2016-04-13,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797,2.0,384.0,407.0
2,1503960366,2016-04-14,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776,NaN,NaN,NaN
3,1503960366,2016-04-15,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745,1.0,412.0,442.0
4,1503960366,2016-04-16,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863,2.0,340.0,367.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8877689391,2016-05-08,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847,NaN,NaN,NaN
939,8877689391,2016-05-09,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710,NaN,NaN,NaN
940,8877689391,2016-05-10,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832,NaN,NaN,NaN
941,8877689391,2016-05-11,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832,NaN,NaN,NaN
942,8877689391,2016-05-12,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849,NaN,NaN,NaN

In [26]:
daily.isna().sum()

Id                            0
ActivityDay                   0
TotalSteps                    0
TotalDistance                 0
TrackerDistance               0
LoggedActivitiesDistance      0
VeryActiveDistance            0
ModeratelyActiveDistance      0
LightActiveDistance           0
SedentaryActiveDistance       0
VeryActiveMinutes             0
FairlyActiveMinutes           0
LightlyActiveMinutes          0
SedentaryMinutes              0
Calories                      0
TotalSleepRecords           530
TotalMinutesAsleep          530
TotalTimeInBed              530
dtype: int64

In [27]:
daily_activity['Id'].nunique()

33

In [28]:
sleep['Id'].nunique()

24

In [29]:
daily['Id'].nunique()

33

In [30]:
daily_activity

,Id,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-04-12,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,2016-04-13,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,2016-04-14,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,2016-04-15,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,2016-04-16,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,2016-05-08,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,2016-05-09,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,2016-05-10,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,2016-05-11,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,2016-05-12,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [31]:
daily_activity_grouped = daily_activity.groupby(by=['Id']).mean().reset_index()

In [32]:
sleep_grouped = sleep.groupby(by=['Id']).mean().reset_index()

In [33]:
daily_grouped = pd.merge(daily_activity_grouped, sleep_grouped, how='left', on=['Id'])
daily_grouped

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,12116.741935,7.809677,7.809677,0.000000,2.858387,0.794194,4.152903,0.000000,38.709677,19.161290,219.935484,848.161290,1816.419355,1.080000,360.280000,383.200000
1,1624580081,5743.903226,3.914839,3.914839,0.000000,0.939355,0.360645,2.606774,0.006129,8.677419,5.806452,153.483871,1257.741935,1483.354839,NaN,NaN,NaN
2,1644430081,7282.966667,5.295333,5.295333,0.000000,0.730000,0.951000,3.609000,0.004000,9.566667,21.366667,178.466667,1161.866667,2811.300000,1.000000,294.000000,346.000000
3,1844505072,2580.064516,1.706129,1.706129,0.000000,0.008387,0.049032,1.647419,0.000000,0.129032,1.290323,115.451613,1206.612903,1573.483871,1.000000,652.000000,961.000000
4,1927972279,916.129032,0.634516,0.634516,0.000000,0.095806,0.031290,0.507097,0.000000,1.322581,0.774194,38.580645,1317.419355,2172.806452,1.600000,417.000000,437.800000
5,2022484408,11370.645161,8.084193,8.084193,0.000000,2.421613,0.720000,4.942581,0.000000,36.290323,19.354839,257.451613,1112.580645,2509.967742,NaN,NaN,NaN
6,2026352035,5566.870968,3.454839,3.454839,0.000000,0.006129,0.011290,3.436129,0.000000,0.096774,0.258065,256.645161,689.419355,1540.645161,1.000000,506.178571,537.642857
7,2320127002,4716.870968,3.187742,3.187742,0.000000,0.106774,0.097742,2.980323,0.000000,1.354839,2.580645,198.193548,1220.096774,1724.161290,1.000000,61.000000,69.000000
8,2347167796,9519.666667,6.355556,6.355556,0.000000,1.059444,1.075000,4.221667,0.000000,13.500000,20.555556,252.500000,687.166667,2043.444444,1.000000,446.800000,491.333333
9,2873212765,7555.774194,5.101613,5.101613,0.000000,0.676129,0.276129,4.143548,0.005161,14.096774,6.129032,308.000000,1097.193548,1916.967742,NaN,NaN,NaN
10,3372868164,6861.650000,4.707000,4.707000,0.000000,0.629500,0.153000,3.910000,0.011000,9.150000,4.100000,327.900000,1077.550000,1933.100000,NaN,NaN,NaN
11,3977333714,10984.566667,7.517000,7.517000,0.000000,1.615000,2.751000,3.134333,0.000000,18.900000,61.266667,174.766667,707.533333,1513.666667,1.142857,293.642857,461.142857
12,4020332650,2267.225806,1.626129,1.626129,0.000000,0.142258,0.129677,1.308387,0.005484,5.193548,5.354839,76.935484,1237.258065,2385.806452,1.000000,349.375000,379.750000
13,4057192912,3838.000000,2.862500,2.862500,0.000000,0.052500,0.065000,2.687500,0.000000,0.750000,1.500000,103.000000,1217.250000,1973.750000,NaN,NaN,NaN
14,4319703577,7268.838710,4.892258,4.892258,0.000000,0.278065,0.502258,3.768710,0.000000,3.580645,12.322581,228.774194,735.806452,2037.677419,1.038462,476.653846,501.961538
15,4388161847,10813.935484,8.393226,8.393226,0.000000,1.719355,0.901935,5.396129,0.000000,23.161290,20.354839,229.354839,836.677419,3093.870968,1.291667,403.125000,426.208333
16,4445114986,4796.548387,3.245806,3.245806,0.000000,0.523226,0.075484,2.644839,0.000000,6.612903,1.741935,209.096774,829.903226,2186.193548,1.392857,385.178571,416.821429
17,4558609924,7685.129032,5.080645,5.080645,0.000000,0.549355,0.682258,3.847742,0.000000,10.387097,13.709677,284.967742,1093.612903,2033.258065,1.000000,127.600000,140.000000
18,4702921684,8572.064516,6.955161,6.955161,0.000000,0.417419,1.304839,5.225484,0.000000,5.129032,26.032258,237.483871,766.419355,2965.548387,1.071429,421.142857,441.964286
19,5553957443,8612.580645,5.639677,5.639677,0.000000,1.464194,0.669032,3.504516,0.000000,23.419355,13.000000,206.193548,668.354839,1875.677419,1.225806,463.483871,505.870968
20,5577150313,8304.433333,6.213333,6.213333,0.000000,3.113667,0.658000,2.428000,0.000000,87.333333,29.833333,147.933333,754.433333,3359.633333,1.038462,432.000000,460.615385
21,6117666160,7046.714286,5.342143,5.342143,0.000000,0.128214,0.083929,4.843214,0.000000,1.571429,2.035714,288.357143,796.285714,2261.142857,1.222222,478.777778,510.166667
22,6290855005,5649.551724,4.272414,4.272414,0.000000,0.085517,0.128276,4.048621,0.008621,2.758621,3.793103,227.448276,1193.034483,2599.620690,NaN,NaN,NaN
23,6775888955,2519.692308,1.813462,1.813462,0.075369,0.709231,0.384231,0.711538,0.000000,11.000000,14.807692,40.153846,1299.423077,2131.769231,1.000000,349.666667,369.000000
24,6962181067,9794.806452,6.585806,6.519355,0.323700,1.616452,0.960000,4.001613,0.006774,22.806452,18.516129,245.806452,662.322581,1982.032258,1.096774,448.000000,466.129032
25,7007744171,11323.423077,8.015385,7.575769,2.118673,2.415000,0.738462,4.861538,0.000769,31.038462,16.269231,280.730769,1055.346154,2544.000000,1.000000,68.500000,71.500000
26,7086361926,9371.774194,6.388065,6.388065,0.000000,2.781290,0.773226,2.818710,0.000000,42.580645,25.354839,143.838710,850.451613,2566.354839,1.000000,453.125000,466.416667
27,8053475328,14763.290323,11.475161,11.475161,0.000000,8.514839,0.423871,2.533871,0.000000,85.161290,9.580645,150.967742,1148.000000,2945.806452,1.000000,297.000000,301.666667
28,8253242879,6482.157895,4.667368,4.667368,0.000000,2.214210,0.695789,1.754737,0.000526,20.526316,14.315789,116.894737,1287.368421,1788.000000,NaN,NaN,NaN
29,8378563200,8717.709677,6.913548,6.913548,1.116158,2.503548,0.519032,3.889355,0.000000,58.677419,10.258065,156.096774,716.129032,3436.580645,1.125000,443.343750,483.312500
30,8583815059,7198.516129,5.615484,5.615484,0.000000,0.798065,1.020645,2.617419,0.000000,9.677419,22.193548,138.290323,1267.225806,2732.032258,NaN,NaN,NaN
31,8792009665,1853.724138,1.186552,1.186552,0.000000,0.024828,0.058276,1.103448,0.000000,0.965517,4.034483,91.793103,1060.482759,1962.310345,1.000000,435.666667,453.800000
32,8877689391,16040.032258,13.212903,13.212903,0.000000,6.637419,0.337742,6.188710,0.005161,66.064516,9.935484,234.709677,1112.870968,3420.258065,NaN,NaN,NaN

In [34]:
os.chdir('..')
os.getcwd()
os.chdir('..')
os.getcwd()

'C:\\Users\\aishw\\OneDrive\\Desktop\\Stevens Ammu\\SEM4\\personal_projects\\FitBit_Fitness_Tracker'

In [35]:
daily_grouped.to_csv('daily_grouped_data.csv')

In [36]:
daily_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDay               940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [37]:
daily_activity.describe()

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
count,9.400000e+02,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,4.855407e+09,7637.910638,5.489702,5.475351,0.108171,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574
std,2.424805e+09,5087.150742,3.924606,3.907276,0.619897,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,3789.750000,2.620000,2.620000,0.000000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000
50%,4.445115e+09,7405.500000,5.245000,5.245000,0.000000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000
75%,6.962181e+09,10727.000000,7.712500,7.710000,0.000000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000
max,8.877689e+09,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000